@import url("https://fonts.googleapis.com/css2?family=Basic&display=swap");

* {
  font-family: "Basic", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
}

/* ==============================Header========================= */
.header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
}

.header .contanier {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

.header .rectangle {
  width: 100px;
  height: 120px;
  left: 135px;
  top: 0;
  background: #020e35;
  text-decoration: none;
}

.header .rectangle img {
  width: 100px;
  margin-top: 43px;
}

.header .copy {
  position: fixed;
  width: 100px;
  height: 6px;
  left: 137px;
  top: 95px;
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
}

.header .contanier .nav-links {
  display: flex;
  align-items: center;
}

.header .contanier .nav-links a {
  color: #020e35;
  text-decoration: none;
  margin-left: 30px;
  text-transform: uppercase;
  transition: 0.3s;
}

.header .contanier .nav-links a:hover,
.header .contanier .nav-links a.active {
  color: #e73587;
}

.contact-btn {
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  color: #fff !important;
  border-radius: 2px;
  border: none;
  padding: 0.7rem;
  text-decoration: none;
}

.contact-btn:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#btn-menu {
  display: none;
  color: #e73587;
}

/* ==============================Banner========================= */
.container header {
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 176px);
}

.container header .head_name h4 {
  margin-top: 170px;
  margin-left: 10px;
  font-size: 60px;
  font-weight: 400;
  color: #020e35;
}

.container header .head_name .link_personal .hire_me {
  font-size: 14px;
  padding: 6px 15px;
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  display: inline-block;
  margin-right: 12px;
  margin-left: 10px;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.container header .head_name .link_personal .hire_me:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.container header .head_photo {
  margin-top: 100px;
  width: 700px;
  height: 690px;
  background-image: url(/src/assets/vector.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: right;
}

/* =============================About Us======================== */
#aboutUs .about {
  margin-top: -110px;
  text-align: center;
  padding-left: 350px;
  padding-right: 350px;
}

#aboutUs .about .line {
  margin-top: -25px;
}

#aboutUs .about h4 {
  color: #020e35;
  font-weight: 400;
  font-size: 40px;
}

#aboutUs .about p {
  color: #2b2b2b;
}

/* ======================Our Valuable Service=================== */
#services {
  margin-top: 100px;
  text-align: center;
  margin-bottom: -260px;
}

#services h4 {
  color: #020e35;
  font-weight: 400;
  font-size: 40px;
}

#services .line {
  margin-top: -15px;
}

.services-card {
  display: flex;
  margin-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.services-card .card1 {
  background-color: #fdf8e3;
  margin: 10px;
  box-sizing: border-box;
}

.services-card .card2 {
  background-color: #f0f3fa;
  margin: 10px;
  box-sizing: border-box;
}

.services-card .card3 {
  background-color: #feeff0;
  margin: 10px;
  box-sizing: border-box;
}

.services-card .card4 {
  background-color: #e0f7fa;
  margin: 10px;
  box-sizing: border-box;
}

.services-card .card5 {
  background-color: #efebe9;
  margin: 10px;
  box-sizing: border-box;
}

.services-card .card6 {
  background-color: #f3e5f5;
  margin: 10px;
  box-sizing: border-box;
}

.services-card .card1 .picture1 img,
.services-card .card2 .picture2 img,
.services-card .card3 .picture3 img,
.services-card .card4 .picture4 img,
.services-card .card5 .picture5 img,
.services-card .card6 .picture6 img {
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#services .card1 .description,
#services .card2 .description,
#services .card3 .description,
#services .card4 .description,
#services .card5 .description,
#services .card6 .description {
  padding: 20px;
}

.description button {
  width: 100px;
  height: 40px;
  font-size: 0.8em;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  border: none;
}

/* slick design */
.arrow {
  display: flex;
  justify-content: space-between;
}

.arrow .arrow_prev,
.arrow .arrow_right {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  color: #fff;
  cursor: pointer;
}

.arrow .arrow_prev {
  position: absolute;
  left: 0;
  margin-top: -285px;
  margin-left: 30px;
}

.arrow .arrow_right {
  position: absolute;
  right: 0;
  margin-top: -285px;
  margin-right: 30px;
}

/* ===========================Our Work========================== */
/* section A */
.section-A {
  background-color: #020e35;
  color: #ffff;
  font-family: "basic";
  padding-top: 250px;
}

/* our works */
.title-ourwork {
  text-align: center;
  margin-top: 100px;
}

.title-ourwork img {
  margin-top: -35px;
}

/* content brand name */
.brand-name-1 {
  margin-top: 30px;
  display: flex;
}

.brand-name-1 img {
  width: 550px;
}

.text-brand-1 p {
  width: 500px;
}

.text-brand-2 p {
  width: 500px;
}

.brand-name-2 {
  margin-top: 60px;
  display: flex;
}

.brand-name-2 img {
  width: 550px;
}

.brand-name-3 {
  margin-top: 60px;
  display: flex;
}

.brand-name-3 img {
  width: 550px;
}

.button-ourwork {
  margin-top: 60px;
  text-align: center;
  padding-bottom: 60px;
}

.button-ourwork a {
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  color: #ffff;
  border-style: none;
  text-decoration: none;
  background-image: linear-gradient(to right, #8c32f0, #e73587);
}

/* ================Contact, Newslatter and Footer=============== */
/* section B */
.section-B {
  margin-top: 100px;
  font-family: "basic";
}

.section-B .container {
  display: flex;
}

/* text section B */
.text-contact h1 {
  font-size: 80px;
  width: 550px;
  margin-right: 20px;
}

.pink-color {
  color: #e73587;
}

/* form section B */
.form-label {
  text-align: left;
  display: block;
}

form input {
  width: 520px;
  padding: 10px;
}

form p {
  border-style: solid;
  padding: 10px;
  border-width: 1px;
  border-color: #00000033;
  text-align: left;
}

form textarea {
  width: 520px;
  height: 168px;
  padding: 10px;
}

form button {
  width: 100%;
  padding: 10px;
  color: #ffff;
  border-style: none;
  background-image: linear-gradient(to left, #8c32f0, #e73587);
}

footer {
  background-color: #020e35;
  color: #ffff;
  margin-top: 100px;
  padding: 2px;
  text-align: left;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++=
                           MOBILE VERSION
   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media (max-width: 1250px) {
  /* services */
  .services-card .card1 .picture1 img,
  .services-card .card2 .picture2 img,
  .services-card .card3 .picture3 img,
  .services-card .card4 .picture4 img,
  .services-card .card5 .picture5 img,
  .services-card .card6 .picture6 img {
    height: 200px;
  }
}

@media (max-width: 1100px) {
  /* services */
  .services-card .card1 .picture1 img,
  .services-card .card2 .picture2 img,
  .services-card .card3 .picture3 img,
  .services-card .card4 .picture4 img,
  .services-card .card5 .picture5 img,
  .services-card .card6 .picture6 img {
    height: 150px;
  }
}

@media (max-width: 1000px) {
  /* about us */
  #aboutUs .about {
    margin-top: 80px;
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media (max-width: 991px) {
  .header .contanier {
    width: 100%;
    padding: 0 20px;
  }

  .header .contanier .nav-links a {
    font-size: 14px;
    margin-left: 20px;
  }

  .header .contanier .nav-links .soc-links {
    margin-left: 30px;
  }
}

@media (max-width: 750px) {
  /* navbar */
  #btn-menu {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 22px;
    color: #e73587;
    width: 40px;
    height: 35px;
    text-align: center;
    line-height: 33px;
  }

  .header .copy {
    position: absolute;
    width: 100px;
    height: 6px;
    left: 20px;
    top: 95px;
    background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  }

  .header .contanier .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    flex-wrap: wrap;
    padding: 10px;
    border-top: 1px solid #d4d4d4a7;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.3s;
  }

  .header .contanier .nav-links a {
    color: #020e35;
    display: block;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #d4d4d4a7;
  }

  .header .contanier .nav-links.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .contact-btn {
    background: #fff;
    color: #020e35 !important;
  }

  /* Banner */
  .container header {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .head_name h4 {
    margin-top: 55px !important;
    line-height: 55px;
  }

  .container header .head_photo {
    margin-top: 100px;
    width: 400px;
    height: 280px;
  }

  /* about us */
  #aboutUs .about {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 450px) {
  /* about us */
  #aboutUs .about {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* services */
  .services-card .card1 .picture1 img,
  .services-card .card2 .picture2 img,
  .services-card .card3 .picture3 img,
  .services-card .card4 .picture4 img,
  .services-card .card5 .picture5 img,
  .services-card .card6 .picture6 img {
    height: 130px;
  }

  #services .card1 .description,
  #services .card2 .description,
  #services .card3 .description,
  #services .card4 .description,
  #services .card5 .description,
  #services .card6 .description {
    padding: 10px;
  }

  .arrow .arrow_prev,
  .arrow .arrow_right {
    height: 30px;
    width: 30px;
    font-size: 0.6em;
  }

  .arrow .arrow_prev {
    margin-top: -275px;
  }

  .arrow .arrow_right {
    margin-top: -275px;
  }
}

/* responsive section A */
@media screen and (max-width: 1125px) {
  .text-brand-1 p {
    width: 100%;
  }

  .text-brand-2 p {
    width: 100%;
  }

  .brand-name-1 img {
    width: 50%;
  }

  .brand-name-2 img {
    width: 50%;
  }

  .brand-name-3 img {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .text-brand {
    display: none;
  }

  .web-text {
    display: none;
  }

  .brand-name-1 img {
    width: 100%;
  }

  .brand-name-2 img {
    width: 100%;
  }

  .brand-name-3 img {
    width: 100%;
  }
}

/* responsive section B */
@media screen and (max-width: 1025px) {
  .section-B .container {
    display: grid;
  }

  .text-contact {
    text-align: center;
    width: 100%;
  }

  .text-contact h1 {
    width: 100%;
    font-size: 70px;
  }

  form {
    margin-top: 50px;
  }

  form input {
    width: 100%;
  }

  form textarea {
    width: 100%;
  }

  footer {
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .text-contact h1 {
    font-size: 50px;
  }
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++=
                           TABLET VERSION
   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
