@import url("https://fonts.googleapis.com/css2?family=Basic&display=swap");
* {
  font-family: "Basic", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100%;
}

/* ==============================Header========================= */
.header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
}
.header .contanier {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
.header .rectangle {
  width: 100px;
  height: 120px;
  left: 135px;
  top: 0;
  background: #020e35;
  text-decoration: none;
}
.header .rectangle img {
  width: 100px;
  margin-top: 43px;
}
.header .copy {
  position: fixed;
  width: 100px;
  height: 6px;
  left: 137px;
  top: 95px;
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
}
.header .contanier .nav-links {
  display: flex;
  align-items: center;
}
.header .contanier .nav-links a {
  color: #020e35;
  text-decoration: none;
  margin-left: 30px;
  text-transform: uppercase;
  transition: 0.3s;
}
.header .contanier .nav-links a:hover,
.header .contanier .nav-links a.active {
  color: #e73587;
}

.contact-btn {
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  color: #fff !important;
  border-radius: 2px;
  border: none;
  padding: 0.7rem;
  text-decoration: none;
}
.contact-btn:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
#btn-menu {
  display: none;
  color: #e73587;
}
/* ==============================Banner========================= */
.container header {
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 176px);
}
.container header .head_name h4 {
  margin-top: 170px;
  margin-left: 10px;
  font-size: 60px;
  font-weight: 400;
  color: #020e35;
}

.container header .head_name .link_personal .hire_me {
  font-size: 14px;
  padding: 6px 15px;
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  display: inline-block;
  margin-right: 12px;
  margin-left: 10px;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.container header .head_name .link_personal .hire_me:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.container header .head_photo {
  margin-top: 100px;
  width: 700px;
  height: 690px;
  background-image: url(/src/assets/vector.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: right;
}
/* =============================About Us======================== */
#aboutUs .about {
  margin-top: -110px;
  text-align: center;
  padding-left: 350px;
  padding-right: 350px;
}

#aboutUs .about .line {
  margin-top: -25px;
}

#aboutUs .about h4 {
  color: #020e35;
  font-weight: 400;
  font-size: 40px;
}

#aboutUs .about p {
  color: #2b2b2b;
}
/* ======================Our Valuable Service=================== */
/* ===========================Our Work========================== */
/* ================Contact, Newslatter and Footer=============== */

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++=
                           MOBILE VERSION
   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media (max-width: 1000px) {
  /* about us */
  #aboutUs .about {
    margin-top: 80px;
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (max-width: 991px) {
  .header .contanier {
    width: 100%;
    padding: 0 20px;
  }
  .header .contanier .nav-links a {
    font-size: 14px;
    margin-left: 20px;
  }
  .header .contanier .nav-links .soc-links {
    margin-left: 30px;
  }
}
@media (max-width: 750px) {
  /* navbar */
  #btn-menu {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 22px;
    color: #e73587;
    width: 40px;
    height: 35px;
    text-align: center;
    line-height: 33px;
  }
  .header .copy {
    position: absolute;
    width: 100px;
    height: 6px;
    left: 20px;
    top: 95px;
    background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  }
  .header .contanier .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    flex-wrap: wrap;
    padding: 10px;
    border-top: 1px solid #d4d4d4a7;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.3s;
  }
  .header .contanier .nav-links a {
    color: #020e35;
    display: block;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #d4d4d4a7;
  }
  .header .contanier .nav-links.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .contact-btn {
    background: #fff;
    color: #020e35 !important;
  }

  /* Banner */
  .container header {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .head_name h4 {
    margin-top: 55px !important;
    line-height: 55px;
  }
  .container header .head_photo {
    margin-top: 100px;
    width: 400px;
    height: 280px;
  }
  /* about us */
  #aboutUs .about {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 450px) {
  /* about us */
  #aboutUs .about {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++=
                           TABLET VERSION
   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
